.none-view-scroll::-webkit-scrollbar {
     display: none;
}

.active {
     color: blue;
     background-color: #bfdbfe;
}

.css-c7qa1g-MuiChartsWrapper-root {
     display: flex !important;
}

.css-13cymwt-control {
     border-radius: 10px !important;
     background-color: #e5e7eb !important;
}

.css-1u9des2-indicatorSeparator {
     display: none;
}

.css-13cymwt-control {
     border-radius: 10px !important;
}

.css-b62m3t-container {
     border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}